Print format

In [21]:
pi=3.141279
R=10.5

cu = 2*R*pi

print("2*{}*pi = {:5.2f}".format(R,cu))
print("2*{}*pi = {:3.2e}".format(R,cu))
print("2*{}*pi = {:3.2g}".format(R,cu)) #significant numbers

2*10.5*pi = 65.97
2*10.5*pi = 6.60e+01
2*10.5*pi =  66

list vs tuple: tuples cant be changed later. Also syntax is different

In [8]:
list1=['a',1,[2,3]]
print(list1)

['a', 1, [2, 3]]

In [9]:
tup1=('a',1,[2,3])
print(tup1)
print(type(tup1))

('a', 1, [2, 3])
<class 'tuple'>

In [15]:
list1[1]=3

In [22]:
c=[12,13]

In [23]:
nc=c

In [24]:
nc[0]=11

In [25]:
nc

[11, 13]

In [26]:
c

[11, 13]

In [27]:
b=[12,13]

In [28]:
nb=b

In [29]:
b[0]=11

In [30]:
b

[11, 13]

In [31]:
nb

[11, 13]

In [35]:
import numpy

print(numpy.array(range(5)))

[0 1 2 3 4]

In [36]:
d = {'name':'Peter', 'age':54, 'height':6.5, 'weight':215}

In [45]:
for ch in d:
    print(d[ch])

Peter
54
6.5
215